/src/SeQServer/SeQ.Web/*.user
/src/SeQServer/*.userprefs
/src/SeQServer/SeQServer/*.user
/src/SeQServer/SeQ.Server/*.user
/src/SeQServer/SeQServer.DAL/*.user
/src/SeQServer/SeQServer.Model/*.user
/src/SeQServer/*.cache
/src/SeQServer/*.suo
/Lidgren.Network
/lidgren-network-gen3-2013-05-07
/src/SeQServer
bower_components/
src/packages/
src/library/

*.suo
*.user

.vs/
bin/
obj/
logs
