/src/SeQServer/*.userprefs
/src/SeQServer/*.cache
/Lidgren.Network
/lidgren-network-gen3-2013-05-07
/src/SeQServer
bower_components/
src/packages/
src/library/

*.suo
*.user

.vs/
.vscode/
bin/
obj/
logs
